@*
    
*@
@{
}
  <div class="orientacao">
    <h2 align="center">Destinos</h2>
    <hr>
    <table border=0 width="100%" cellpadding=>
        <tr>
            <td rowspan="5" width="20%" valign="top">
                <h3>Destinos Nacionais</h3>
                <ul>
                    <li>Gramado - RS</li>
                    <br>
                    <li>Chapada dos Veadeiros - GO</li>
                    <br>
                    <li>Maragogi - AL</li>
                </ul>
            </td>
             <!--Base Para cada destino!-->
            <td width="20%" align="center" valign="bottom">

              <img src="../Imagens/nacional (3).jpg" width="400px" height="250px" class="img-thumbnail" alt="">
            <br>
            <font size="3">Gramado - RS</font>
            <br>
            <font size="4" color="red">R$ 7.100,00</font>
            <hr>
            </td>
            <!-- Fim da Base Para cada destino!-->


            <td width="20%" align="center" valign="bottom">

                <img src="../Imagens/nacional (2).jpg" width="400px" class="img-thumbnail" alt="">
              <br>
              <font size="3">Chapada dos Veadeiros - GO</font>
              <br>
              <font size="4" color="red">R$ 5.100,00</font>
              <hr>
              </td>


              <td width="20%" align="center" valign="bottom">

                <img src="../Imagens/nacional (4).jpg" width="400px" height="250px" class="img-thumbnail" alt="">
              <br>
              <font size="3">Maragogi - AL</font>
              <br>
              <font size="4" color="red">R$ 5.100,00</font>
              <hr>
              </td>

              
            <!-- Destinos Internacionais-->

            <table border=0 width="100%" cellpadding=>
                <tr>
                    <td rowspan="5" width="20%" valign="top">
                        <h3>Destinos Internacionais</h3>
                        <ul>
                            <li>Egito</li>
                            <br>
                            <li>Cancún</li>
                            <br>
                            <li>París</li>
                            <br>
                        </ul>
                    </td>
                     

                    <td width="20%" align="center" valign="bottom">
        
                      <img src="../Imagens/internacional (3).jpg" width="380px" height="250px" class="img-thumbnail" alt="">
                    <br>
                    <font size="3">Egito</font>
                    <br>
                    <font size="4" color="red">R$ 5.100,00</font>
                    <hr>
                    </td>
                    
        
        
                    <td width="20%" align="center" valign="bottom">
        
                        <img src="../Imagens/internacional (2).jpg" width="380px" class="img-thumbnail" alt="">
                      <br>
                      <font size="3">Canún</font>
                      <br>
                      <font size="4" color="red">R$ 5.100,00</font>
                      <hr>
                      </td>
        
        
                      <td width="20%" align="center" valign="bottom">
        
                        <img src="../Imagens/internacional (1).jpg" width="400px" height="250px" class="img-thumbnail" alt="">
                      <br>
                      <font size="3">París</font>
                      <br>
                      <font size="4" color="red">R$ 5.100,00</font>
                      <hr>
                      </td>
        



          
        </tr>
    </table>


    <p align="center"><strong>Parcelamos em até 12x sem Juros!</strong></p>
    <table>
        <tr>
            <td width="20%" align="center" valign="bottom"><img src="../Imagens/pagamentosAtual1.png" class="img-thumbnail" alt="Formas de Pagamento: Boleto, Crédito, Débito. Parcelamos em 12x."></td>
             
        </tr>
       
    </table>
    </div>
