@*
    
*@
@{
}

    <h2>Contato</h2>
    <hr>
    <table border=0 width="100%" cellpadding="20">
        <tr>
            <td width="30%" align="center">
                <img src="../Imagens/email.jpg" width="100pix" class="img-thumbnail"  alt="">
                <font size="4">contatogabrielatour@gmail.com</font>
            </td>

            <td width="30%" align="center">
                <img src="../Imagens/Whatsapp-logo-pc-600x314.png" width="100pix" class="img-thumbnail"  alt="">
                <font size="4">(21)9 1234-5678</font>
            </td>


            <td width="30%" align="center">
                <img src="../Imagens/telefone.png" width="100pix" class="img-thumbnail"  alt="">
                <font size="4">(21) 7894-1234</font>
            </td>
        </tr>
    </table>


    <p  align="center"><strong>Parcelamos em até 12x sem Juros!</strong></p>
    <table>
        <tr>
            <td width="20%" align="center" valign="bottom"><img src="../Imagens/pagamentosAtual1.png" class="img-thumbnail"  alt="Formas de Pagamento: Boleto, Crédito, Débito. Parcelamos em 12x."></td>
             
        </tr>
       
    </table>
