@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 align="center">Gabriela's Tour</h1>
    <p></p>
    <p align="center">Só aqui você encontra os melhores destinos e preços para sua viagem!</p>
    <p></p>
    <h3> <em>Viva essas experiências você também!</em></h3>

    <table>
        <tr>
            <td width="20%" align="center" valign="bottom">

                <img src="./Imagens/img1 (2).jpg" width="400px" height="250px" class="img-thumbnail" alt="Imagem responsiva">
              <br>
              </td>
              <!-- Fim da Base Para cada destino!-->
        
              <td width="20%" align="center" valign="bottom">
                  <img src="./Imagens/img1 (1).jpg" width="400px" class="img-thumbnail" alt="Imagem responsiva">
                <br>
            
                </td>
                <td width="20%" align="center" valign="bottom">
                    <img src="./Imagens/img1 (3).jpg" width="400px" height="250px" class="img-thumbnail" alt="Imagem responsiva">
                <br>
    
                </td>
        </tr>
    </table>





    <p align="center"><strong>Parcelamos em até 12x sem Juros!</strong></p>
    

    <table>
        <tr>
             
            <td width="20%" align="center" valign="bottom"><img src="./Imagens/pagamentosAtual1.png" width="500px" height="250px" class="img-fluid" alt="Formas de Pagamento: Boleto, Crédito, Débito. Parcelamos em 12x."></td>
            
        </tr>
       
    </table>
    
</div>


