@*
    
*@
@{
}
    <h2 align="center">Promoções</h2>
    <hr>

    <table>
        <tr>
            <td width="20%" align="center" valign="bottom">

                <img src="../Imagens/nacional (1).jpg" width="380px" height="250px" class="img-thumbnail"  alt="">
              <br>
              <font size="3">Pão de Açucar - RJ</font>
              <hr>
              <font size="2"><strike>R$ 10.000,00</strike></font><br>
              <font  size="4" color="red">R$ 5.100,00</font>
              </td>
              <!-- Fim da Base Para cada destino!-->
        
        
              <td width="20%" align="center" valign="bottom">
        
                  <img src="../Imagens/nacional (3).jpg" width="380px" class="img-thumbnail"  alt="">
                <br>
                <font size="3">Gramado - RS</font>
                <hr>
                <font size="2"><strike>R$ 10.000,00</strike></font><br>
                <font size="4" color="red">R$ 5.100,00</font>
                </td>
        
        
                <td width="20%" align="center" valign="bottom">
        
                  <img src="../Imagens/nacional (4).jpg" width="380px" height="250px" class="img-thumbnail"  alt="">
                <br>
                <font size="3">Maragogi - AL</font>
                <hr>
                <font size="2"><strike>R$ 10.000,00</strike></font><br>
                <font size="4" color="red">R$ 5.100,00</font>
                </td>
        </tr>
    </table>




    <p align="center"><strong>Parcelamos em até 12x sem Juros!</strong></p>
    <table>
        <tr>
            <td width="20%" align="center" valign="bottom"><img src="../Imagens/pagamentosAtual1.png" class="img-thumbnail" alt="Formas de Pagamento: Boleto, Crédito, Débito. Parcelamos em 12x."></td>
             
        </tr>
       
    </table>
